/* General container styling */
.order-list-container {
  padding: 5px;

}

.order-header h2 {
  margin: 7px 0 0 0;
  padding: 0;
  font-size: 15px;
}

.orderDetailsList {
  display: flex;
  flex-direction: column;
}

.orderDetails_pagination {
  width: 100%;
  text-align: center;
  padding: 5px;
}

/* Scrollable box for orders */
.orders-box {
  max-width: 127s0px;
  overflow-x: scroll;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  background-color: #fff;
  /* overflow: scroll; */
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, .1);
  border-radius: 13px;
}

.order-table thf {
  padding: 8px 7px !important;
}

/* Table styling */
.order-table {
  width: 180%;
  border-collapse: collapse;
}

th.order-type-header span {
  width: 100%;
  display: inline-flex;
  text-align: center;
  margin-bottom: 4px;
}

.order-table th,
.order-table td {
  padding: 1px 8px;
  border: 1px solid #ddd;
  text-align: left;
  width: 100px;
  font-size: 13px;

}

.status.booking {
  color: green;
}

.status.expired {
  color: red;
}

/* Horizontal Scroll for Pagination */
.horizontal-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.scroll-arrow {
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.pagination-slider {
  display: flex;
  overflow-x: auto;
}

.page-number {
  padding: 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  min-width: 40px;
  text-align: center;
}

.page-number.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}



.small-search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.download-button {
  padding: 11px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 7px;
}

.download-button:hover {
  background-color: #45a049;
}

.status-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.status-button.active {
  background-color: red;
}

.status-button.inactive {
  background-color: green;
}


/* input date and time */
.filter-btn {

  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 92px;
  margin: 4px
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 1px;
}

.date-filter-container {
  border: 2px solid #ddd;
  padding: 4px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.date-filter-title {
  font-size: 1.24rem;
  margin-bottom: 16px;
  color: #333;
}



.date-input {
  padding: 8px;
  font-size: 1rem;
  width: 152px;
  margin-top: 4px;
}

.date-label {
  font-size: 1rem;
  margin-bottom: 4px;
}

.order-type-header {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

/* Fancy select box styling */
.order-type-dropdown {
  appearance: none;
  padding: 4px 8px;
  background-color: #fff;
  border: 2px solid #0f0e0e;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 2px;
}

/* Add hover and focus effects */
.order-type-dropdown:hover {
  border-color: #007bff;
  background-color: #f5f5f5;
}

.order-type-dropdown:focus {
  border-color: #007bff;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}


.status-booked {
  color: orange;
  background-color: #fff7e6;
  /* border: 1px solid orange; */
  border-radius: 12px;
  padding: 4px 12px;
}

.status-accepted {
  color: blue;
  background-color: #e6f0ff;
  /* border: 1px solid blue; */
  border-radius: 13px;
  padding: 4px 12px;
}

.status-in-progress {
  color: rgb(194 18 240);
  background-color: #ffffe6;
  /* border: 1px solid yellow; */
  border-radius: 12px;
  padding: 4px 12px;
}

.status-completed {
  color: green;
  background-color: #e6ffe6;
  /* border: 1px solid green; */
  border-radius: 12px;
  padding: 4px 12px;
}

.status-cancelled {
  color: red;
  background-color: #ffe6e6;
  /* border: 1px solid red; */
  border-radius: 12px;
  padding: 4px 12px;
}

.status-empty {
  color: grey;
  background-color: #f0f0f0;
  /* border: 1px solid grey; */
  border-radius: 12px;
  padding: 4px 12px;
}

.status-expired {
  color: rgb(245, 111, 111);
  background-color: #ffe6e6;
  /* border: 1px solid grey; */
  border-radius: 12px;
  padding: 4px 12px;
}

.no-record-heading {
  color: #9252aa;
}


.red-button {
  background-color: #FF0000;
  color: #FFFFFF;

  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.red-button:hover {
  background-color: #CC0000;
  /* Darker red on hover */
}