* ds */
 /* Login.css */
 
 .login-container {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #f0f0f0;
   margin-left: 180px;
 }
 
 .login-box {
   background: white;
   padding: 2rem;
   border-radius: 8px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   width: 350px;
   border: 2px solid #e0e0e0;
   margin: 0 auto;
 }
 
 .login-title {
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 1rem;
   color: #333;
 }
 
 .error-message {
   color: red;
   font-size: 14px;
   text-align: center;
   margin-bottom: 1rem;
 }
 
 .login-form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
 }
 
 .form-group {
   display: flex;
   flex-direction: column;
 }
 
 .form-label {
   font-weight: 500;
   margin-bottom: 0.3rem;
   color: #555;
 }
 
 .form-input {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 14px;
 }
 
 .login-button {
   background: linear-gradient(90deg, rgba(221, 94, 137, 0.8), #97538c);
   color: white;
   padding: 10px;
   font-size: 16px;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background 0.3s ease;
 }
 
 .logout-button {
   background-color: #ff4d4d;
   color: white;
   padding: 10px 15px;
   font-size: 16px;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 8px;
   transition: background 0.3s ease;
   margin-top: 10px;
 }
 
 .logout-button:hover {
   background: linear-gradient(90deg, rgba(221, 94, 137, 0.8), #97538c);
 }
 
 .logout-icon {
   font-size: 18px;
 }